@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    max-width: 150vw;

}

header {
    max-width:100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 1%;
    box-shadow: 0px 5px 10px 0px rgba(199, 199, 199, 0.2);

}

h2 {
    font-weight: 900;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;


}

.botoes {
    font-size: 20px;
    color: #0A99FE; 
    opacity: 90%;
    border-radius: 7px;
    min-width: 150px;
    height: 40px;
    margin: 2% 3% 2% 3%;
    border: transparent;
    background-color: rgba(70, 124, 255, 0.2)
}

.botoes:hover {
    background-color: #0A99FE;
    color: #FFFFFF;

}

section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 2%;

}

.titulosecao {
    font-size: 20px;


}

.titulo {
    color: #1B1B1B;
    font-size: 20px;
    margin: 2% 0% 2% 0%;


}

.card_paintings, .card_actionfigures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    overflow-x: auto;
    gap: 16px;


}

.card_paintings li, .card_actionfigures li {
    min-width: 207px;
    height: 275px;
    background-color: rgba(144, 148, 138, 0.3);
    border-radius: 7px;



}

.card_paintings img, .card_actionfigures img {
    width: 100%;
    height: 50%;
    border-radius: 7px;


}

.card_paintings div, .card_actionfigures div {
    width: 100%;
    height: 45%;
    align-items: center;
    text-align: center;
    border-radius: 7px;


}

.card_paintings p, .card_actionfigures p {
    font-size: 20px;
    font-weight: medium;


}

.card_paintings span, .card_actionfigures span {
    font-size: 16px;
    color: #868383;


}

